@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #E5E5E5;
	cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: unset;
	cursor: pointer;
}
